@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: var(--new-primary);
    --color-primary-dark: var(--new-primary-dark);
    --color-secondary: var(--new-secondary);
    --color-secondary-dark: var(--new-secondary-dark)
}