@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: var(--modern-primary);
    --color-primary-dark: var(--modern-primary-dark);
    --color-secondary: var(--modern-secondary);
    --color-secondary-dark: var(--modern-secondary-dark)
}