@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: var(--new-primary);
    --color-primary-dark: var(--new-dark-primary);
    --color-secondary: #0000ff;
}